<form action="#" class="container px-6 py-12 rounded-lg text-center mail-form cursor-default sm:px-12">
    <h3 class="mb-5 text-white font-semibold">
        Оставьте заявку и мы с Вами свяжемся в ближайшее время
    </h3>

    <input type="text" placeholder="Имя" name="name" class="rounded-full h-10 w-60 px-3 outline-none focus:placeholder-cta text-black">
    <span class="name-errors block mt-2 text-red-700 font-bold mb-4"></span>

    <input type="email" placeholder="E-mail" name="email" class="rounded-full h-10 w-60 px-3 outline-none focus:placeholder-cta text-black">
    <span class="email-errors block mt-2 text-red-700 font-bold mb-4"></span>

    <input type="tel" placeholder="Телефон" name="phone" class="rounded-full h-10 w-60 px-3 outline-none focus:placeholder-cta text-black">
    <span class="phone-errors block mt-2 text-red-700 font-bold mb-4"></span>

    <textarea name="text" placeholder="Сообщение..." class="block mx-auto mb-4 rounded-2xl w-60 px-3 py-2 h-20 outline-none focus:placeholder-cta text-black"></textarea>

    <button type="submit" class="btn text-white">
        Отправить
    </button>
</form>